<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>404 - Getränkesystem</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/lit.css">
		<link rel="stylesheet" type="text/css" href="/static/util.css">
	</head>
	<body class="m0">
		<div class="tc vh-100 bg-info">
			<div class="vc c white">
				<h1 class="mega mb0">404</h1>
				<p class="large mb2">Seite nicht gefunden</p>
				<a class="btn bg-white info pill ph4 inline" href="/">Startseite</a>
			</div>
		</div>
	</body>
</html>
