<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Kassenwart - Getränkesystem</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/lit.css">
		<link rel="stylesheet" type="text/css" href="/static/util.css">
	</head>
	<body class="m0">
		<div class="c">
			<h1>Guthabenkonten</h1>
			<hr>
			<table class="w-100">
				<thead>
					<tr>
						<th>Name</th>
						<th>Guthaben</th>
						<th>Kontotyp</th>
						<th>Aktivität</th>
						<th>Verwaltung</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Mustermann, Max</td>
						<td>17.50€</td>
						<td>FS-Mitglied</td>
						<td>vor 3 Tagen</td>
						<td><button class="btn pill accent" onclick="alert('todo')">Verwalten</button></td>
					</tr>
			</tbody>
			</table>
		</div>
	</body>
</html>
