<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Kassenwart - Getränkesystem</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/lit.css">
		<link rel="stylesheet" type="text/css" href="/static/util.css">
	</head>
	<body class="m0">
		<div class="c">
			<h1>Guthabenkonten</h1>
			<hr>
			<table class="w-100">
				<thead>
					<tr>
						<th>Name</th>
						<th>Guthaben</th>
						<th>Kontotyp</th>
						<th>Aktivität</th>
						<th>Verwaltung</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<td>{{user.name}}</td>
						<td>{{user.balance / 100}}€</td>
						<td>{{user.utype}}</td>
						<td>vor {{user.last_active}} Tagen</td>
						<td><button class="btn pill accent" onclick="alert('todo')">Verwalten</button></td>
					</tr>
					{% endfor %}
					<tr>
						<form action="/api/add_user" method="POST">
							<td><input class="card w-100" placeholder="Kontoname" name="name"></td>
							<td><input class="card" placeholder="Guthaben" name="balance"></td>
							<td><select class="card w-100" name="utype">
								<option value="Normal">FS-Mitglied</option>
								<option value="Unlimited">Unbegrenzt</option>
							</select></td>
							<td></td>
							<td><input type="submit" class="btn pill success" value="Erstellen"></td>
						</form>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
